from uuid import UUID

from {{ project_name }}.application.interfaces.dto import dto


@dto
class CreateItemInput:
    name: str
    quantity: int


@dto
class ItemOutput:
    id: UUID
    name: str
    quantity: int
