import gc

import pytest

{% if include_fastapi -%}
from composition.api import create_app
{%- else -%}
from composition.bootstrap.container import make_container
{%- endif %}

from {{ project_name }}.application.interfaces.dto import dto
from {{ project_name }}.application.interfaces.use_case import IUseCase, use_case


@dto
class PingInput:
    pass


@dto
class PingOutput:
    pass


@pytest.mark.anyio
async def test_container_provides_use_case_declared_since_last_garbage_collection() -> None:
    """The container of the entrypoint: only it holds the ports implemented for that entrypoint."""
    gc.disable()
    try:

        @use_case
        class PingUseCase(IUseCase[PingInput, PingOutput]):
            async def __call__(self, _data: PingInput) -> PingOutput:
                return PingOutput()

{% if include_fastapi %}        container = create_app().state.dishka_container
{%- else %}        container = make_container()
{%- endif %}
    finally:
        gc.enable()

    async with container() as request:
        assert type(await request.get(IUseCase[PingInput, PingOutput])) is PingUseCase
    await container.close()
