from typing import get_origin

from dishka import Provider, Scope

from composition.bootstrap.utils import get_children, load_packages
from {{ project_name }}.application import interactors
from {{ project_name }}.application.interfaces.interactor import IInteractor

load_packages(interactors)


class NotAnInteractorError(TypeError):
    def __init__(self, cls: type) -> None:
        super().__init__(f"{cls.__module__}.{cls.__qualname__} must subclass IInteractor[Input, Output]")


def orig_bases(cls: type) -> type[IInteractor[object, object]]:
    bases: tuple[type[IInteractor[object, object]], ...] = getattr(cls, "__orig_bases__", ())
    for base in bases:
        if get_origin(base) is IInteractor:
            return base
    raise NotAnInteractorError(cls)


class InteractorProvider(Provider):
    def __init__(self) -> None:
        super().__init__()
        for interactor in get_children(IInteractor):
            self.provide(
                interactor,
                scope=Scope.REQUEST,
                provides=orig_bases(interactor),
            )
