from dishka import Provider, Scope, provide

from {{ project_name }}.application.interfaces.item_repository import (
    IItemRepository,
)
from {{ project_name }}.infrastructure.in_memory_item_repository import (
    InMemoryItemRepository,
)


class RepositoryProvider(Provider):
    item_repository = provide(
        InMemoryItemRepository,
        scope=Scope.APP,
        provides=IItemRepository,
    )
