from abc import ABC, abstractmethod

from {{ project_name }}.domain.model.item import Item


class IItemRepository(ABC):
    @abstractmethod
    async def add(self, item: Item) -> None: ...

    @abstractmethod
    async def list_all(self) -> list[Item]: ...
