from uuid import uuid4

from {{ project_name }}.application.dto.item import (
    CreateItemInput,
    ItemOutput,
)
from {{ project_name }}.application.interfaces.interactor import (
    IInteractor,
    interactor,
)
from {{ project_name }}.application.interfaces.item_repository import (
    IItemRepository,
)
from {{ project_name }}.domain.model.item import Item


def _to_output(item: Item) -> ItemOutput:
    return ItemOutput(id=item.id, name=item.name, quantity=item.quantity)


@interactor
class CreateItemInteractor(IInteractor[CreateItemInput, ItemOutput]):
    items: IItemRepository

    async def __call__(self, data: CreateItemInput) -> ItemOutput:
        item = Item(id=uuid4(), name=data.name, quantity=data.quantity)
        await self.items.add(item)
        return _to_output(item)


@interactor
class ListItemsInteractor(IInteractor[None, list[ItemOutput]]):
    items: IItemRepository

    async def __call__(self, _data: None = None) -> list[ItemOutput]:
        return [_to_output(item) for item in await self.items.list_all()]
